<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Beginning Backbone.js</title>
    <!--suppress CssUnusedSymbol -->
    <style>
        .title {
            color: #ffaf72;
        }
    </style>

    <script>
        // Helper function for all other js files to get the recent url for book api
        bookUrl = function () {
            return "{% url 'api_dispatch_list' resource_name='book' api_name='v1' %}"
        }
    </script>
</head>
<body>
<div id="book-view"></div>
<div id="book-view-2-container"></div>

<script src="{% static 'js/external/jquery-3.1.1.js' %}"></script>
<script src="{% static 'js/external/underscore.js' %}"></script>
<script src="{% static 'js/external/backbone.js' %}"></script>

<script src="{% static 'js/model_book.js' %}"></script>
<script src="{% static 'js/collection_library.js' %}"></script>
{#<script src="{% static 'js/model_frontend.js' %}"></script>#}
{#<script src="{% static 'js/model_sync.js' %}"></script>#}
{#<script src="{% static 'js/collections_frontend.js' %}"></script>#}
{#<script src="{% static 'js/collections_frontend_underscore.js' %}"></script>#}
{#<script src="{% static 'js/collections_sync.js' %}"></script>#}
<script src="{% static 'js/views.js' %}"></script>
</body>
</html>